[Unit]
Description=Overlord ai server
After=network.target
StartLimitInterval=0

[Service]
Type=Simple
Restart=Always
RestartSec=1
User=ai
WorkingDirectory=/home/ai/OAI-AI
ExecStart=/usr/bin/python /home/ai/OAI-AI/oai.py

[Install]
WantedBy=multi-user.target
